<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Score Keeper</title>
</head>
<body>
	<% if(langCode === 'und') { %>
		<h1>"SORRY!!, We couldn't find the language, try with some more sample text!"</h1>
	<% } else { %>
		<h1>Our Best Guess Is : <%= guess.name %> </h1>  
	<% } %> 
	<a href="/">GUESS AGAIN</a>
</body>
</html>