<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/guess.css">
	<title>Game Score Keeper</title>
</head>
<body>

	<div class="inside_form">
		<div class="overlay">
			<form action="/">
				<div>
					<% if(langCode === 'und' || guess === '') { %>
						<p id="oops">"SORRY!!, We couldn't find the language, try with some more sample text!"</p>
					<% } else { %>
						<p>Our Best Guess Is : <%= guess.name %> </p>  
					<% } %> 
				</div>
				<div>
					<input type="submit" class="button" value="GUESS AGAIN">
				</div>
			</form>
		</div>
	</div>

</body>
</html>